
h1 {
	text-align: center;
}

div#wrapper {
	width: 800px;	
}

/* Search box */

#search_box {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	background-color: #fafafa;
	
	width: 640px;
	border: solid #eee 2px;
	
	padding: 10px 20px;
	border-radius: 10px;
}

#search_box table {
	margin: 0px;
	width: 100%;
}

#search_title {
	font-weight: bold;
	font-size: 1.5em;
}

#adv_search_title {
	padding-top: 5px;
	padding-bottom: 5px;
}

#adv_search {
	padding-top: 10px;
	padding-bottom: 10px;
}

#adv_search input {
	width: 100%;
}

#adv_search td {
	padding: 3px;
	vertical-align: middle;
}

input#query {
	width: 100%;
	font-size: 1em;
}

.adv_label {
	width: 75px;
}


/* Search results */

.table_header {
	margin-bottom: 10px;
}

#results {
	width: 100%;
}

.catalog {
	border-collapse: collapse;
}

table.catalog th {
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	height: 3em;
	padding: 3px;
}

table.catalog td {
	vertical-align: middle;
	height: 2em;
	padding: 3px;
}

.td_title {
	font-size: 1em;
}

table.catalog tr:nth-of-type(even) {
	background-color: #eee;
}

table.catalog tr:nth-of-type(odd) {
	background-color: #fff;
}

table.catalog .td_index {
	width: 30px;
	text-align: right;
	color: #777;
}

table.catalog .td_title {
	width: 400px;
	white-space: normal;
}

#page_nav {
	text-align: center;
}
