
h1 {
	text-align: center;
}

div#wrapper {
	width: 800px;	
}

/* Search box */

#search_box_wrapper {
	text-align: center;
}

#search_box {
	text-align: left;
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	background-color: #fafafa;
	
	width: 640px;
	border: solid #eee 2px;
	
	padding: 10px;
	border-radius: 10px;
}

#search_box table {
	margin: 0px;
	width: 100%;
}

#adv_search_title {
	padding-top: 5px;
	padding-bottom: 5px;
}

#separator {
	margin: 15px 0px;
	border-top: solid 2px #eee;
}

#adv_search {
	padding-bottom: 10px;
}

#adv_search .adv_label {
	width: 75px;
	min-width: 75px;
}

#adv_search .adv_value {
	width: 100%;
}

#credits {
	width: 100%;
}

#adv_search td {
	padding: 3px;
	vertical-align: middle;
	width: 100%;
}

#adv_search td.adv_label {
	width: 75px;
}

input#query, #adv_search input {
	width: 100%;
	font-size: 1em;
}

#adv_search input.radio {
	width: auto;
}


/* Search results */

.suggestion {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

#results {
	width: 100%;
}

.hdrno {
	font-weight: bold;
}

.top_right {
	float: right;
}

.clear {
	clear: both;
}

#results_paginate {
	text-align: center;
	float: none;
	margin-top: 10px;
}

#results {
	border-collapse: collapse;
}

#results th {
	font-weight: bold;
	vertical-align: middle;
}

#results td {
	vertical-align: middle;
	height: 1.5em;
}

#results tr.even {
	background-color: #fff;
}

#results tr.odd {
	background-color: #f6f6f6;
}

#results tr.even .sorting_1 {
	background-color: #fafaff;
}

#results tr.odd .sorting_1 {
	background-color: #eef;
}

#results .td_index {
	text-align: right;
	color: #777;
}

#page_nav {
	text-align: center;
}
