@import '/static/formalize/assets/css/reset.css';
@import '/static/formalize/assets/css/text.css';
@import '/static/formalize/assets/css/formalize.css';

body.centered {
	text-align: center;
}

div#wrapper.centered {
  text-align: left;
  margin: 15px auto;
}