

h1 {
	text-align: center;
}

.slideshow {
	margin-left: auto;
	margin-right: auto;
	width: 510px;
	margin-bottom: 30px;
}

.show_header {
	border-bottom: solid black 1px;
	margin-bottom: 15px;
}

.more_header {
	float: right;
}

.header_label {
	font-weight: normal;
	font-size: 1.5em;
}