{% extends "base.html" %}
{% block title %}EPFL Course Catalog{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/catalog.css"/>
  
  <script type="text/javascript">
  	$(document).ready(function() {
  		$("#adv_search").hide();
  		$("#adv_search_title").click(function() {
  			$("#adv_search").slideToggle(200);
  			$("#adv_search_title").slideToggle(200);
  		});
  	});
  </script>
{% endblock head %}

{% macro jumpoffset(target_offset, label) -%}
<a href="/catalog?q={{query}}&offset={{target_offset}}">{{ label }}</a>
{%- endmacro %}

{% block content %}
  <h1>EPFL Course Catalog</h1>
  
  <div id="search_box">
    <form action="/catalog" method="get">
    <div id="search_title">Search</div>
      <div id="query_box">
        <input id="query" type="text" name="q" value="{{ query }}"/>
      </div>
      
      <div id="adv_search_title">
        <a href="#">
          Advanced Search
        </a>
      </div>
      <div id="adv_search">
        <table style="border-collapse: collapse;">
          <tr>
            <td class="adv_label">Title:</td>
            <td><input id="course" type="text" name="aq_title" /></td>
            <td class="adv_label">Instructor:</td>
            <td><input id="instructor" type="text" name="aq_instructor" /></td>
          </tr>
          <tr>
            <td class="adv_label">Section:</td>
            <td><input id="section" type="text" name="aq_section" /></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="4"><div style="height:10px;"></div></td>
          </tr>
          <tr>
            <td class="adv_label">Has exact words:</td>
            <td><input id="has_words" type="text" name="aq_has_words" /></td>
            <td class="adv_label">Doesn't have words:</td>
            <td><input id="doesnt_have_words" type="text" name="aq_doesnt_have_words" /></td>
          </tr>
        </table>
          
          
      </div>
      <div style="text-align: center;">
        <input id="search" type="submit" value="Search" />
      </div>
    </form>
  </div>
  
  {% if courses %}
  <div class="table_header">
    Showing results  
      <span style="font-weight: bold;">
        {{ offset + 1 }}-{{ offset + courses|length }}</span>
    out of {{ "about" if courses|length < total_found }}
      <span style="font-weight: bold;">{{ total_found }}</span>:
  </div>
  <table class="catalog" id="results">
    <tr class="header">
      <th class="td_index"></th>
      <th class="td_title">Title</th>
      <th class="td_credits">Credits</th>
      <th class="td_instr">Instructor(s)</th>
      <th class="td_section">Section(s)</th>
    </tr>
    {%- for course in courses %}
    <tr>
      <td class="td_index">{{ offset + loop.index }}</td>
      <td class="td_title"><a href="/c/{{ course.key() }}">{{ course.title }}</a></td>
      <td class="td_credits">{{ course.credit_count|default("N/A", True) }}</td>
      <td class="td_instr">{{ course.instructors|default("N/A", True)|join(", ") }}</td>
      <td class="td_section">{{ course.sections|join(", ") }}</td>
    </tr>
    {%- endfor %}
  </table>
  {% if total_found %}
  <div id="page_nav">
  {% if prev_offset %}
    {{ jumpoffset(prev_offset, "Previous") }}
  {% else %}
    <span style="font-weight: bold;">Previous</span>
  {% endif %}
  {% for crt_page, crt_offset in pages %}
    {% if crt_page == page %}
      <span style="font-weight: bold;">{{ crt_page + 1}}</span> 
    {% else %}
      {{ jumpoffset(crt_offset, crt_page + 1) }}
    {% endif %}
  {% endfor %}
  {% if next_offset %}
    {{ jumpoffset(next_offset, "Next") }}
  {% else %}
    <span style="font-weight: bold;">Next</span>
  {% endif %}
  </div>
  {% endif %}
  {% elif query %}
  <div class="table_header">
  No search results.
  </div>
  {% endif %}
{% endblock content %}
 