<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ course.name }}</title>
    <link rel="stylesheet" type="text/css" href="static/course.css"/>
  </head>
  <body>
    <div>
      <h1>{{ course.name }}</h1>
      <div>
        <p>Teacher{{ 's' if course.teachers|length > 1 }}: {{ course.teachers|join(", ") }}</p>
        <p>Language: {{ course._language }}</p>
        <p>Specialization: {{ course.orientations|join(", ") }}</p>
        <p>Study plan: {{ course.studies|join(", ") }}</p>
        {% if course.urls|length > 1 %}
        <p>URLs:
          {% for url in course.urls %}
          <a href="{{ url }}">[{{ loop.index }}]</a>
          {% endfor %}
        </p>
        {% else %}
        <p>URL: <a href="{{ course.urls[0] }}">[Click here]</a></p>
        {% endif %}
      </div>
    </div>
  </body>
</html>
