{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/course.css"/>
{% endblock head %}

{% macro searchable(content, query_field, query_value=None) -%}
  <a href='/catalog?q={{query_field}}:"{% if query_value %}{{query_value}}{% else %}{{content}}{% endif %}"'>{{ content }}</a>
{%- endmacro %}

{% block content %}
<div class="course-border">
  <h1>{{ course.title }}</h1>
  <div id="instructors">
  </div>
  <div id="aux_info" style="float:right;">
    <table>
      <tr>
        <td class="label">Sections:</td>
        <td class="value">
        {% for section, _ in course.sections_ %}
          {{ searchable(section, "section") }}{{ "," if not loop.last }}
        {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="label">Study plans:</td>
        <td class="value">
          {% for plan in course.study_plans %}
            {{ searchable(plan, "plan") }}{{ "," if not loop.last }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="label">Homepage (external links):</td>
        <td class="value">
          {% for section, url in course.sections_ %}
            <a href="{{ url }}">[{{ section }}]</a>{{ "," if not loop.last }}
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
  <div id="main_info">
    <table>
      <tr>
        <td class="label">Instructor{{ 's' if course.instructors|length > 1 }}:</td>
        <td class="value">
          {% for instructor in course.instructors %}
            {{ searchable(instructor, "instructor") }}{{ "," if not loop.last }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="label">Language:</td>
        <td class="value">{{ searchable(course.language_, "language") }}</td>
      </tr>
      <tr>
        <td class="label">ECTS Credits:</td>
        <td class="value">
          {% if course.credit_count %}
            {{ searchable(course.credit_count, "credits") }}
          {% else %}
            N/A
          {% endif %}
          ({{ course.lecture_time|default(0, True) }}-{{ course.recitation_time|default(0, True) }}-{{ course.project_time|default(0, True) + course.practical_time|default(0, True) }})
        </td>
      </tr>
      <tr>
        <td class="label">Semester:</td>
        <td class="value">{{ searchable(course.semester, "semester") }}</td>
      </tr>
      <tr>
        <td class="label">Exam form:</td>
        <td class="value">{{ searchable(course.exam_form, "exam") }}</td>
      </tr>
      <tr>
        <td class="label">Planning:</td>
        <td class="value">
          {% if course.lecture_time %}{{course.lecture_time}}h/week lecture<br/>{% endif %}
          {% if course.recitation_time %}{{course.recitation_time}}h/week recitation<br/>{% endif %}
          {% if course.project_time %}{{course.project_time}}h/week project<br/>{% endif %}
          {% if course.practical_time %}{{course.practical_time}}h/week practical work<br/>{% endif %}
        </td>
      </tr>
    </table>
  </div>
  {% for title, content in [("Learning Outcomes", course.learning_outcomes),
                            ("Content", course.content),
                            ("Prior Knowledge", course.prior_knowledge),
                            ("Type of Teaching", course.type_of_teaching),
                            ("Bibliography", course.bibliography),
                            ("Keywords", course.keywords),
                            ("Form of Examination", course.exam_form_detail)] %}
  {% if content %}
  <div>
    <div class="sec_title">{{ title }}</div>
    <div class="sec_content">{{ content|safe }}</div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}
