{% extends "base.html" %}
{% block title %}EPFL Course Description 2012 - 2013{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/coursedesc.css"/>
  <script src="/static/formalize/assets/js/jquery.formalize.js"></script>  
  <script src="/static/maxlength/jquery.maxlength.js"></script>
  <script type="text/javascript">  
    function preSelectOptions(sel_elem, value) {
      for (var i = 0; i < sel_elem.length; i++) {
        if (sel_elem.options[i].value == value)
          sel_elem.options[i].selected = "selected";
      }
    }
    
    {% if not (course and course.submitted_) %}
    $(function () { $('#objectives_en').maxlength({max: 256, feedbackText: "{r} characters remaining"}); });
    $(function () { $('#objectives_fr').maxlength({max: 256, feedbackText: "{r} characters remaining"}); });
    $(function () { $('#contents_en').maxlength({max: 512, feedbackText: "{r} characters remaining"}); });
    $(function () { $('#contents_fr').maxlength({max: 512, feedbackText: "{r} characters remaining"}); });
    {% endif %}
  </script>
{% endblock head %}

{% block content %}
  <h1>2012-2013 Course Description</h1>
  {% if course %}
  <div style="float:right; border: solid #333 1px; padding: 3px 10px;">
    Course key:
    <span style="font-weight: bold;">
      <a href="/update?course_id={{course.key().id()}}">{{ course.key().id() }}</a>
    </span>
    <br/>
    Status:
    {% if course.submitted_ %}
    <span style="color: green;">submitted</span>
    {% elif course.in_progress_ %}
    <span style="color: red;">in progress</span>
    {% else %}
    <span style="color: black;">new</span>
    {% endif %}
  </div>
  
  <h2>
    Please use this form to provide the description of an existing/new course. <br/>
    You can save intermediate results by clicking "Save" at the bottom. <br/>
    When done, click "Submit" -- no further modifications will be possible.
  </h2>
  {% else %}
  <h2>
    Please use this form to provide the description of an existing/new course.
    Click "Start" to begin a description. <br/> You can save intermediate results
    and return later to continue; for this, you will need to provide a
    system-supplied key in the "Edit" field.
  </h2>
  {% endif %}
  
  {% if course %}
  
  {% if saved %}
  <p style="color:green; font-weight: bold;">Course saved successfully.</p>
  {% endif %}
  
  {% macro readonly(disable_=False) -%}
  {% if disable_ %}
  {{ "disabled='disabled'" if course.submitted_ }}
  {% else %}
  {{ "readonly='readonly'" if course.submitted_ }}
  {% endif %}
  {%- endmacro %}
  
  <div id="enclose" style="clear: both;" >
  <form id="upload_form" action="/admin/submit" method="post" enctype="multipart/form-data">
  <input type="hidden" name="course_id" value="{{ course.key().id() if course }}"/>
  <!-- First row -->
  <div id="reg_titles" class="region">
    <table>
    <tr>
      <td>
        <span class="label">1a. Title</span><br/>
        <input type="text" name="title_en"
          value="{{ course.title_en if course }}" maxlength="500"
          placeholder="in English"
          {{ readonly() }} />
      </td>
      <td>
        <span class="label">1b. Titre</span> <br/>
        <input type="text" name="title_fr"
          value="{{ course.title_fr if course }}" maxlength="500"
          placeholder="en français"
          {{ readonly() }} />
      </td>
    </tr>
    </table>
  </div>
  
  <!-- Second row -->
  <div class="region" id="reg_url">
    <table>
      <tr>
        <td style="width: 50%;">
          <span class="label">2. Course homepage</span> <br/>
          <input type="text" name="url" maxlength="500"
            value="{{ course.homepage if course else 'http://' }}" {{ readonly() }}/>
        </td>
        <td style="width: 50%; text-align: center;">
          <div style="display: inline-block; text-align: left;">
            <span class="label">3. Language</span> <br/>
            <input type="radio" name="language" value="fr" id="lan_fr"
              {{ "checked=''" if course and course.language == 'fr' }} {{ readonly(True) }} /><label for="lan_fr">French</label>
            <span style="display: inline-block; width: 1em;"></span>
            <input type="radio" name="language" value="en" id="lan_en"
              {{ "checked=''" if course and course.language == 'en' }} {{ readonly(True) }} /><label for="lan_en">English</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
  
  <!--  -->
  <div class="region" id="reg_instructor">
    <span class="label">4. Instructor(s)</span> <br/>
    <table>
    <tr>
      {% for i in range(1, 5) %}
      <td>
        <select name="instructor{{ i }}" id="instructor{{ i }}" {{ readonly(True) }}>
        {% for instructor in instructors %}
          <option value="{{ instructor }}">{{ instructor }}</option>
        {% endfor %}
        </select>
        <script type="text/javascript">
        	document.getElementById("instructor1").options[0].innerHTML = "Choose";
        	preSelectOptions(document.getElementById("instructor{{ i }}"),
        			"{{ instr_values[i-1] }}");
        </script>
      </td>
      {% endfor %}
    </tr>
    </table>
  </div>
  
  <div class="region" id="reg_section">
    <span class="label">5. Section</span> <br/>
    <div class="block_region" style="vertical-align: middle;">
      <input type="checkbox" name="sec_in" id="sec_in" {{ "checked=''" if sec_in }} {{ readonly(True) }}/> <label for="sec_in">IN</label>
      <input type="checkbox" name="sec_sc" id="sec_sc" {{ "checked=''" if sec_sc }} {{ readonly(True) }}/> <label for="sec_sc">SC</label>
    </div>
    <span style="vertical-align: middle;">Other:</span>
    <input type="text" name="sec_other" id="sec_other" value="{{ sec_other }}" maxlength="500"
      placeholder="e.g.: EDIC, EL, MA, MX, PH, SV" {{ readonly() }}/>
  </div>
  
  <div class="region" id="reg_credits">
    <span class="label">6. Credits</span> <br/>
    <div class="block_region">
      Total ECTS:
      <select name="ects_total" id="ects_total" {{ readonly(True) }}>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
      <script type="text/javascript">
        preSelectOptions(document.getElementById("ects_total"), "{{ course.ects_credits }}");
      </script>
    </div>
    
    <div class="block_region">
      Lecture (cours):
      <select name="ects_lecture" id="ects_lecture" {{ readonly(True) }}>
        <option>0h</option>
        <option>1h</option>
        <option>2h</option>
        <option>3h</option>
        <option>4h</option>
      </select>
      <script type="text/javascript">
        preSelectOptions(document.getElementById("ects_lecture"), "{{ course.course_points }}h");
      </script>
    </div>
    
    <div class="block_region">
      Recitation (exercices):
      <select name="ects_recitation" id="ects_recitation" {{ readonly(True) }}>
        <option>0h</option>
        <option>1h</option>
        <option>2h</option>
        <option>3h</option>
        <option>4h</option>
      </select>
      <script type="text/javascript">
        preSelectOptions(document.getElementById("ects_recitation"), "{{ course.exercise_points }}h");
      </script>
    </div>
    
    <div class="block_region">
      Project:
      <select name="ects_project" id="ects_project" {{ readonly(True) }}>
        <option>0h</option>
        <option>1h</option>
        <option>2h</option>
        <option>3h</option>
        <option>4h</option>
      </select>
      <script type="text/javascript">
        preSelectOptions(document.getElementById("ects_project"), "{{ course.project_points }}h");
      </script>
    </div>
  </div>
  
  <div class="region" id="reg_objectives">
    <table>
    <tr>
      <td>
        <span class="label">7a. Objectives</span> <br/>
        <textarea name="objectives_en" rows="4" maxlength="256" id="objectives_en"
          placeholder="in English (max 256 characters)" {{ readonly() }}>{{ course.objectives_en if course }}</textarea>
      </td>
      <td>
        <span class="label">7b. Objectifs</span> <br/>
        <textarea name="objectives_fr" rows="4" maxlength="256" id="objectives_fr"
          placeholder="en français (max 256 caractères)" {{ readonly() }}>{{ course.objectives_fr if course }}</textarea>
      </td>
    </tr>
    </table>
  </div>
  
  <div class="region" id="reg_contents">
    <table>
    <tr>
      <td>
        <span class="label">8a. Contents</span><br/>
        <textarea name="contents_en" rows="8" maxlength="512" id="contents_en"
          placeholder="in English (max 512 characters)" {{ readonly() }}>{{ course.contents_en if course }}</textarea>
      </td>
      <td>
        <span class="label">8b. Contenu</span><br/>
        <textarea name="contents_fr" rows="8" maxlength="512" id="contents_fr"
          placeholder="en français (max 512 caractères)" {{ readonly() }}>{{ course.contents_fr if course }}</textarea>
      </td>
    </tr>
    </table>
  </div>
  
  <div class="region">
    <span class="label">9. Bibliography</span> <br/>
    <textarea name="bibliography" rows="3" {{ readonly() }}>{{ course.bibliography if course }}</textarea>
  </div>
  
  <div class="region" id="reg_prereq">
    <span class="label">10. Prerequisite course(s)</span> <br/>
    <table>
      <tr>
        {% for i in range(1, 5) %}
        <td>
          <select name="prereq{{ i }}" id="prereq{{ i }}" {{ readonly(True) }}>
          {% for prereq in prerequisites %}
            <option value="{{ prereq[0] }}">{{ prereq[1] }}</option>
          {% endfor %}
          </select>
          <script type="text/javascript">
            preSelectOptions(document.getElementById("prereq{{ i }}"), "{{ prereq_values[i-1] }}");
          </script>
        </td>
        {% endfor %}
      </tr>
    </table>    
  </div>
  
  <div class="region" id="reg_grading">
    <table>
    <tr>
      <td>
        <span class="label">11. Grading method</span> <br/>
        <select name="grading_method" id="grading_method" {{ readonly(True) }}>
          <option value="sem">Throughout semester (contrôle continu)</option>
          <option value="writ">Written (exam period)</option>
          <option value="oral">Oral (exam period)</option>
          <option value="sem_writ">Throughout semester + written (exam period)</option>
          <option value="sem_oral">Throughout semester + oral (exam period)</option>
        </select>
        {% if course %}
        <script type="text/javascript">
          preSelectOptions(document.getElementById("grading_method"), "{{ course.grading_method }}");
        </script>
        {% endif %}
      </td>
      <td>
        <span class="label">12. Grading formula</span> <br/>
        <input type="text" name="grading_formula" maxlength="500"
          placeholder="e.g., project 25%, midterm 30%, final exam 45%" value="{{ course.grading_formula if course }}" {{ readonly() }}/>
      </td>
    </tr>
    </table>
  </div>
  
  <div class="region">
    <span class="label">13. Notes</span>
    <textarea name="notes" rows="3"
      placeholder="use this field for any additional information that is not contained in the form"
      {{ readonly() }}>{{ course.notes if course }}</textarea>
  </div>

  {% if not course.submitted_ %}
  <div id="reg_submit" class="region">
    <input type="submit" name="update_btn" value="Save" />
    <input type="submit" name="update_btn" value="Submit" />
  </div>
  {% endif %}
  </form>
  </div>
  {% else %}
  <div>
    <form id="create_form" action="/admin/submit" method="post" enctype="multipart/form-data">
      <input type="submit" value="Start" /> Start describing a course
    </form>
  </div>
  
  <div style="margin-top: 10px;">
    <form id="update_form" action="/update" method="get">
      <input type="submit" value="Edit" />
      <input type="text" name="course_id" placeholder="Course key" style="width: 75px;"/>
      Edit an in-progress description, using the corresponding key
    </form>
  </div>
  {% endif %}
{% endblock content %}
