{% extends "base.html" %}
{% block title %}EPFL Course Catalog{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/catalog.css"/>
  
  <script type="text/javascript" charset="utf8" 
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/css/jquery.dataTables.css" />
  
  <script type="text/javascript">
  	function srctoggle() {
  		$("#adv_search").slideToggle(200);
		$("#adv_search_title").slideToggle(200);
  	}
  	$(document).ready(function() {
  		$("#adv_search").hide();
  		$("#adv_search_title").click(srctoggle);
  		$("#simple_search").click(srctoggle);
  	});
  	
  	// Disable unused fields
  	$(function (){
  		$("#searchform").submit(function(e) {
  	  		$(this).find(':input[value=""]').attr("disabled", "disabled");
  	  		return true;
  	  	});
  	});
  	
  </script>
{% endblock head %}

{% macro jumpoffset(target_offset, label) -%}
<a href="/catalog?q={{query}}&offset={{target_offset}}{{ '&exact=1' if exact }}">{{ label }}</a>
{%- endmacro %}

{% block content %}
  <h1>EPFL Course Catalog</h1>
  
  <div id="search_box">
    <form action="/catalog" method="get" id="searchform" name="searchform">
      <div id="query_box">
        <input id="query" type="text" name="q" value="{{ query }}" maxlength="1024" />
      </div>
      
      <div id="adv_search_title">
        <a href="#">
          Advanced Search
        </a>
      </div>
      <div id="adv_search">
        <div id="separator"></div>
        
        {% macro advfield(label, id, name, type="text", min=None) -%}
        <td class="adv_label">{{label}}:</td>
        <td class="adv_value"><input id="{{id}}" type="{{type}}" name="{{name}}"
          {% if not min is none %}min="{{ min }}"{% endif %}
          {% if type == "text" %}maxlength="1024"{% endif %}/></td>
        {%- endmacro %}
        
        {% macro nofield() %}
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        {% endmacro %}
      
        <table style="border-collapse: collapse; table-layout: fixed;">
          <tr>
            {{ advfield("Title", "course", "aq_t") }}
            {{ advfield("Instructor", "instructor", "aq_in") }}
          </tr>
          <tr>
            <td class="adv_label">Language:</td>
            <td class="adv_value">
              <input type="radio" name="aq_lang" value="english" class="radio" /> English
              <input type="radio" name="aq_lang" value="french" class="radio" /> French
            </td>
            {{ advfield("Section", "section", "aq_sec") }}
          </tr>
          <tr>
            <td class="adv_label">Semester:</td>
            <td class="adv_value">
              <input type="radio" name="aq_sem" value="fall" class="radio" /> Fall
              <input type="radio" name="aq_sem" value="spring" class="radio" /> Spring
            </td>
            {{ advfield("Exam", "exam", "aq_exam") }}
          </tr>
          <tr>
            {{ advfield("Credits", "credits", "aq_cred", type="number", min=0) }}
            {{ advfield("Coefficient", "coefficient", "aq_coeff", type="number", min=0) }}
          </tr>
        </table>
        <div style="margin-top:10px;">Planning hours:</div>
        <table style="border-collapse: collapse; table-layout: fixed;">
          <tr>
            {{ advfield("Lecture", "lecture", "aq_hours_l", type="number", min=0) }}
            {{ advfield("Recitation", "recitation", "aq_hours_r", type="number", min=0) }}
            {{ advfield("Project", "project", "aq_hours_p", type="number", min=0) }}
          </tr>
        </table>
        <div id="simple_search">
          <a href="#">
            Simple Search
          </a>
        </div>
      </div>
      <div style="text-align: center;">
        <input id="search" type="submit" value="Search" />
      </div>
    </form>
  </div>
  
  {% if courses %}
  <script type="text/javascript">
  	$(document).ready(function() {
  		$('#results').dataTable( {
  			"bFilter": false,
  			"bPaginate": false,
  			"sDom": 'rt<"bottom"p>',
  			"fnInfoCallback": function(oSettings, iStart, iEnd, iMax, iTotal, sPre) {
  				return 'Showing results <span class="hdrno">' + iStart +
  					'</span>-<span class="hdrno">' + iEnd + "</span> out of " +
  					'<span class="hdrno">' + iTotal + '</span>';
  			}
  		});
  	})
  </script>
  <div class="table_header">
    {% if original_query %}
    <div class="suggestion_box">
      Showing results for <span class="suggestion"><a href="/catalog?q={{ suggested_query }}">{{ suggested_query }}</a></span>.
      Search for <span class="suggestion"><a href="/catalog?q={{ original_query }}&exact=1">{{ original_query }}</a></span>  instead.
    </div>
    {% elif suggested_query %}
    <div class="suggestion_box">
      Did you mean <span class="suggestion"><a href="/catalog?q={{ suggested_query }}">{{ suggested_query }}</a></span>?
    </div>
    {% endif %}
    <div class="info_box">
      Showing results  
        <span style="font-weight: bold;">
          {{ pagination.offset + 1 }}-{{ pagination.offset + courses|length }}</span>
      out of
        <span style="font-weight: bold;">{{ pagination.total_found }}</span>:
    </div>
  </div>
  <table class="catalog" id="results">
    <thead>
      <tr class="header">
        <th class="td_index">Rank</th>
        <th class="td_title">Title</th>
        <th class="td_credits">Credits</th>
        <th class="td_instr">Instructor(s)</th>
        <th class="td_section">Section(s)</th>
      </tr>
    </thead>
    <tbody>
      {%- for course in courses %}
      <tr>
        <td class="td_index">{{ offset + loop.index }}</td>
        <td class="td_title"><a href="/c/{{ course.key() }}">{{ course.title }}</a></td>
        <td class="td_credits">{{ course.credit_count|default("N/A", True) }}</td>
        <td class="td_instr">
        {% set instructors = course.instructors|default("N/A", True)|join(", ") %}
        {% if instructors == "multi" %}
          <span style="font-style: italic;">Various instructors</span>
        {% else %}
          {{ instructors }}
        {% endif %}
        </td>
        <td class="td_section">{{ course.sections|join(", ") }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {% if pagination.pages|length > 1 %}
  <div id="page_nav">
  {% if not pagination.prev_offset is none %}
    {{ jumpoffset(pagination.prev_offset, "Previous") }}
  {% else %}
    <span style="font-weight: bold;">Previous</span>
  {% endif %}
  {% for crt_page, crt_offset in pagination.pages %}
    {% if crt_page == page %}
      <span style="font-weight: bold;">{{ crt_page + 1}}</span> 
    {% else %}
      {{ jumpoffset(crt_offset, crt_page + 1) }}
    {% endif %}
  {% endfor %}
  {% if not pagination.next_offset is none %}
    {{ jumpoffset(pagination.next_offset, "Next") }}
  {% else %}
    <span style="font-weight: bold;">Next</span>
  {% endif %}
  </div>
  {% endif %}
  {% elif query %}
  <div class="table_header">
  No search results.
  </div>
  {% endif %}
  {% if debug_mode %}
  <div id="debug_box" style="color: #999; border: 1px solid #999; padding: 3px; margin-top: 5px;">
    <span style="font-weight: bold;">Debug Information:</span> <br/>
    # of courses: {{ courses|length if courses else 0 }} <br/>
    Query: {{ query }} <br/>
    Original query: {{ original_query }} <br/>
    Suggested query: {{ suggested_query }} <br/>
    Search provider: {{ debug["provider"] }} <br/>
    {% if debug["url"] %}
    Underlying search URL: <a href="{{ debug['url'] }}">{{ debug["url"] }}</a><br/>
    {% if debug["results"] %}
    Search results: <br/>
    {% for result in debug["results"] %}
    <a href="/c/{{ result }}">{{ result }}</a> <br/>
    {% endfor %}
    {% endif %}
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}
 