{% extends "base.html" %}
{% block title %}Find EPFL Courses{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/catalog.css"/>
  
  <script type="text/javascript" charset="utf8" 
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/css/jquery.dataTables.css" />
  
  <script type="text/javascript">
  	$(document).ready(function() {
  		var adv_search = "{{ localized('Advanced search', 'Recherche avancée') }}";
  		var simple_search = "{{ localized('Back to simple search', 'Retour à la recherche simple') }}";
  		
  		$("#adv_search").hide();
  		$("#advanced-search-btn").text(adv_search);
  		
  		$("#advanced-search-btn").click(function() {
  			$("#adv_search").slideToggle(200);
  			text = $("#advanced-search-btn").text()
  			if (text == adv_search)
  				text = simple_search;
  			else
  				text = adv_search;
  			
  			$("#advanced-search-btn").text(text);
  		});
  	});
  	
  	// Disable unused fields
  	$(function (){
  		$("#searchform").submit(function(e) {
  			e.preventDefault();
  			var _form = $(this);
  			var data = {};
  			var formData = _form.serializeArray();
  			
  			$.each(formData, function (index, value) {
  				var data_name = formData[index].name;
  				var data_value = formData[index].value;
  				if (data_value != "") {
  					data[data_name] = data_value;
  				}
  			});
  			
	  		document.location = _form.attr("action") + "?" + $.param(data);
	  	});
  		
  		$("#query").focus();
  	});
  	
  </script>
{% endblock head %}

{% macro jumpoffset(target_offset, label) -%}
{% set url = url_for_lang("catalog", q=query.encode("utf-8"), offset=target_offset,
                     exact=exact if exact else "") %}
<a href="{{ url }}">{{ label }}</a>
{%- endmacro %}

{% block content %}
  <div id="language-switch">
    <a href="{{ switch_lang_link }}">
      {{ localized("Français", "English") }}
    </a>
  </div>
  <h1>{{ localized("Find EPFL Courses", "Rechercher un cours à l'EPFL") }} <span class="beta-mark">beta</span></h1>
  <div id="subtitle">{{ localized("Academic Year 2012-2013", "Année académique 2012-2013") }}</div>
  
  <div id="search_box_wrapper">
  <div id="search_box">
    <div id="form_box">
    <form action="{{ url_for_lang('catalog') }}" method="get" id="searchform" name="searchform">
      <div id="query_box">
        <input id="query" type="search" name="q" value="{{ query }}" maxlength="1024" />
      </div>
      <div id="adv_search">
        <div id="separator-top"></div>
        {% macro multichoice(id, name, values) -%}
          <select id="{{ id }}" name="{{ name }}">
            <option value=""></option>
            {% for entry in values %}
            <option value="{{ entry|lower }}">{{ entry }}</option>
            {% endfor %}
          </select>
        {%- endmacro %}
        
        <table style="border-collapse: collapse; table-layout: fixed;">
          <tr>
            <td style="width: 50%; padding: 0px;">
              <table style="border-collapse: collapse; table-layout: fixed;">
                <tr>
                  <td class="adv_label"><label for="course">
                    {{ localized("Course title:", "Titre:") }}
                  </label></td>
                  <td class="adv_value">
                    <input id="course" type="text" name="aq_t" maxlength="1024" />
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">
                    {{ localized("Language:", "Langue:") }}
                  </td>
                  <td class="adv_value">
                    <input id="lang_en" type="radio" name="aq_lang" value="english" class="radio" />
                    <label for="lang_en">English</label>
                    <input id="lang_fr" type="radio" name="aq_lang" value="francais" class="radio" />
                    <label for="lang_fr">Français</label>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">
                    {{ localized("Semester:", "Semestre:") }}
                  </td>
                  <td class="adv_value">
                    <input id="sem_fall" type="radio" name="aq_sem"
                           value="{{ localized('fall', 'automne') }}"
                           class="radio" />
                    <label for="sem_fall">
                      {{ localized("Fall", "Automne") }}
                    </label>
                    <input id="sem_spring" type="radio" name="aq_sem"
                           value="{{ localized('spring', 'printemps') }}"
                           class="radio" />
                    <label for="sem_spring">
                      {{ localized("Spring", "Printemps") }}
                    </label>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">
                    <label for="credits">
                      {{ localized("Credits:", "Crédits:") }}
                    </label>
                  </td>
                  <td class="adv_value">
                    {{ multichoice("credits", "aq_cred", static["credits"]) }}
                  </td>
                </tr>
              </table>
            </td>
            <td style="width: 50%; padding: 0px;">
              <table style="border-collapse: collapse; table-layout: fixed;">
                <tr>
                  <td class="adv_label">
                    <label for="instructor">
                      {{ localized("Instructor:", "Enseignant:") }}
                    </label>
                  </td>
                  <td class="adv_value">
                    <input id="instructor" type="text" name="aq_in" maxlength="1024"/>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">
                    <label for="section">
                      {{ localized("Section:", "Section:") }}
                    </label>
                  <td class="adv_value">
                    <select id="section" name="aq_sec">
                      <option value=""></option>
                      {% for school in static["sections"] %}
                        <optgroup label="{% if school[0] %}{{ school[0] }} - {% endif %}{{ school[1] }}">
                        {% for section in school[2] %}
                          <option value="{{ section[0]|lower }}">{{ section[1] }}</option>
                        {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">
                    <label for="exam">
                      {{ localized("Exam:", "Examen:") }}
                    </label>
                  </td>
                  <td class="adv_value">
                    {{ multichoice("exam", "aq_exam", static["exam"]) }}
                  </td>
                </tr>
                <tr>
                  <td class="adv_label"><label for="coefficient">Coefficient:</label></td>
                  <td class="adv_value">
                    {{ multichoice("coefficient", "aq_coeff", static["coeff"]) }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <div style="margin-top:10px;">
          <div style="padding: 3px;">
            {{ localized("Scheduled hours:", "Horaire:") }}
          </div>
        </div>
        <table id="sched-hours" style="border-spacing: 10px; table-layout: fixed;">
          <tr>
            <td style="width: 33%; padding: 0px;">
              <div class="field">
                <label for="lecture">
                  {{ localized("Lecture:", "Cours:") }}
                </label>
                <span class="input">{{ multichoice("lecture", "aq_hours_l", static["lecture"]) }}</span>
              </div>
            </td>
            <td style="width: 33%; padding: 0px;">
              <div class="field">
                <label for="recitation">
                  {{ localized("Recitation:", "Exercices:") }}
                </label>
                <span class="input">{{ multichoice("recitation", "aq_hours_r", static["recitation"]) }}</span>
              </div>
            </td>
            <td style="width: 33%; padding: 0px;">
              <div class="field">
                <label for="project">
                  {{ localized("Project:", "Projet:") }}
                </label>
                <span class="input">{{ multichoice("project", "aq_hours_p", static["project"]) }}</span>
              </div>
            </td> 
          </tr>
        </table>
      </div>
      <div style="text-align: center; margin-top: 10px;">
        <input id="search" type="submit" value="{{ localized('Search', 'Recherche') }}" />
      </div>
      <div id="advanced-search">
        <a href="#" id="advanced-search-btn">
          {{ localized("Advanced search", "Recherche avancée") }}
        </a>
      </div>
    </form>
    </div>
    <div id="feedback-box">
      <a href="https://docs.google.com/spreadsheet/viewform?formkey=dDJ1UVpEM1VFRkszclBrdTRjc3JfYkE6MQ#gid=0" target="_blank">
        {{ localized("Got feedback?", "Donnez-nous votre avis") }}
      </a>
    </div>
    {% if not query %}
    <div id="samples-box">
      {{ localized("Examples of stuff you can find (click on the links to see how):",
                   "Des exemples de requêtes avancées (cliquez sur les liens ci-dessous pour les voir):") }}
      <div style="padding-left: 5px;">
        {% for sample_query, text in static['samples'] %}
        <a href='{{ url_for_lang("catalog", q=sample_query.encode("utf-8")) }}'>{{ text }}</a>
        {% if not loop.last %}<br/>{% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div style="clear: both;"></div>
  </div>
  </div>
  
  
  {% if courses %}
  <script type="text/javascript">
  	$(document).ready(function() {
  		$('#results').dataTable( {
  			"bFilter": false,
  			"bPaginate": false,
  			"sDom": 'rt<"bottom"p>',
  			"fnInfoCallback": function(oSettings, iStart, iEnd, iMax, iTotal, sPre) {
  				return 'Showing results <span class="hdrno">' + iStart +
  					'</span>-<span class="hdrno">' + iEnd + "</span> out of " +
  					'<span class="hdrno">' + iTotal + '</span>';
  			}
  		});
  	})
  </script>

  <div class="table_header">
    {% if original_query %}
    <div class="suggestion_box">
      {{ localized("Showing results for", "Affichage des résultats pour") }}
      <span class="suggestion">
        <a href="{{ url_for_lang('catalog', q=suggested_query) }}">
          {{ suggested_query }}</a></span>.
      {{ localized("Search instead for", "Essayez avec l'orthographe") }}
      <span class="suggestion"><a href="{{ url_for_lang('catalog', q=original_query, exact=1) }}">{{ original_query }}</a></span>.
    </div>
    {% elif suggested_query %}
    <div class="suggestion_box">
      Did you mean <span class="suggestion"><a href="{{ url_for_lang('catalog', q=suggested_query) }}">{{ suggested_query }}</a></span>?
    </div>
    {% endif %}
    <div class="info_box">
      {{ localized("Showing results", "Page") }}
        <span style="font-weight: bold;">
          {{ pagination.offset + 1 }}-{{ pagination.offset + courses|length }}</span>
      {{ localized("out of", "sur") }}
        <span style="font-weight: bold;">{{ pagination.total_found }}</span>:
    </div>
  </div>
  <table class="catalog" id="results">
    <thead>
      <tr class="header">
        <th class="td_index">{{ localized("Rank", "Rang") }}</th>
        <th class="td_title">{{ localized("Title", "Titre") }}</th>
        <th class="td_credits">{{ localized("Credits", "Crédits") }}</th> 
        <th class="td_instr">{{ localized("Instructor", "Enseignant") }}</th>
        <th class="td_section">{{ localized("Section", "Section") }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for course in courses %}
      <tr>
        <td class="td_index">{{ offset + loop.index }}</td>
        <td class="td_title">
          <a href="{{ url_for_lang('course', course_key=course.course_id) }}">
            {{ course.title }}
          </a>
        </td>
        <td class="td_credits">{{ course.credit_count|default("N/A", True) }}</td>
        <td class="td_instr">
        {% if not course.instructors %}
          N/A
        {% elif course.instructors == ["multi"] %}
          <span style="font-style: italic;">Various instructors</span>
        {% else %}
          {{ course.instructors|join(", ") }}
        {% endif %}
        </td>
        <td class="td_section">
        {% for section in course.sections %}
          <span title="{{ section.display_name(use_french=(language=='fr')) }}">{{ section.display_name(short=True, use_french=(language=='fr')) }}</span>{{ ", " if not loop.last }}
        {% endfor %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {% if pagination.pages|length > 1 %}
  <div id="page_nav">
  {% if not pagination.prev_offset is none %}
    {{ jumpoffset(pagination.prev_offset, "Previous") }}
  {% else %}
    <span style="font-weight: bold;">
      {{ localized("Previous", "Précédent") }}
    </span>
  {% endif %}
  {% for crt_page, crt_offset in pagination.pages %}
    {% if crt_page == page %}
      <span style="font-weight: bold;">{{ crt_page + 1}}</span> 
    {% else %}
      {{ jumpoffset(crt_offset, crt_page + 1) }}
    {% endif %}
  {% endfor %}
  {% if not pagination.next_offset is none %}
    {{ jumpoffset(pagination.next_offset, "Next") }}
  {% else %}
    <span style="font-weight: bold;">
    {{ localized("Next", "Suivant") }}
    </span>
  {% endif %}
  </div>
  {% endif %}
  {% elif query %}
  <div class="table_header">
    {{ localized("No search results.", "Aucun résultat.") }}
  </div>
  {% endif %}
  {% if debug_mode %}
  <div id="debug_box" style="color: #999; border: 1px solid #999; padding: 3px; margin-top: 5px;">
    <span style="font-weight: bold;">Debug Information:</span> <br/>
    # of courses: {{ courses|length if courses else 0 }} <br/>
    Query: {{ query }} <br/>
    Original query: {{ original_query }} <br/>
    Suggested query: {{ suggested_query }} <br/>
    Search provider: {{ debug["provider"] }} <br/>
    {% if debug["url"] %}
    Underlying search URL: <a href="{{ debug['url'] }}">{{ debug["url"] }}</a><br/>
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}
 