{% extends "base.html" %}
{% block title %}Find EPFL Courses{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/catalog.css"/>
  
  <script type="text/javascript" charset="utf8" 
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.1/css/jquery.dataTables.css" />
  
  <script type="text/javascript">
  	$(document).ready(function() {
  		$("#adv_search").hide();
  		$("#advanced-search-btn").text("Advanced search");
  		
  		$("#advanced-search-btn").click(function() {
  			$("#adv_search").slideToggle(200);
  			text = $("#advanced-search-btn").text()
  			if (text == "Advanced search")
  				text = "Back to simple search";
  			else
  				text = "Advanced search";
  			
  			$("#advanced-search-btn").text(text);
  		});
  	});
  	
  	// Disable unused fields
  	$(function (){
  		$("#searchform").submit(function(e) {
  	  		$(this).find(':input[value=""]').attr("disabled", "disabled");
  	  		return true;
  	  	});
  		$("#query").focus();
  	});
  	
  </script>
{% endblock head %}

{% macro jumpoffset(target_offset, label) -%}
{% set url = url_for("catalog", q=query, offset=target_offset,
                     exact=exact if exact else None) %}
<a href="{{ url }}">{{ label }}</a>
{%- endmacro %}

{% block content %}
  <h1>Find EPFL Courses <span class="beta-mark">beta</span></h1>
  <div id="subtitle">Academic Year 2012-2013</div>
  
  <div id="search_box_wrapper">
  <div id="search_box">
    <div id="form_box">
    <form action="/catalog" method="get" id="searchform" name="searchform">
      <div id="query_box">
        <input id="query" type="search" name="q" value="{{ query }}" maxlength="1024" />
      </div>
      <div id="adv_search">
        <div id="separator-top"></div>
        
        {% macro advfield(label, id, name, type="text", min=None) -%}
        <td class="adv_label"><label for="{{id}}">{{label}}:</label></td>
        <td class="adv_value"><input id="{{id}}" type="{{type}}" name="{{name}}"
          {% if not min is none %}min="{{ min }}"{% endif %}
          {% if type == "text" %}maxlength="1024"{% endif %}/></td>
        {%- endmacro %}
        
        {% macro multichoice(id, name, values) -%}
          <select id="{{ id }}" name="{{ name }}">
            <option value=""></option>
            {% for entry in values %}
            <option value="{{ entry|lower }}">{{ entry }}</option>
            {% endfor %}
          </select>
        {%- endmacro %}
        
        <table style="border-collapse: collapse; table-layout: fixed;">
          <tr>
            <td style="width: 50%; padding: 0px;">
              <table style="border-collapse: collapse; table-layout: fixed;">
                <tr>
                  <td class="adv_label"><label for="course">Course title:</label></td>
                  <td class="adv_value">
                    <input id="course" type="text" name="aq_t" maxlength="1024" />
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">Language:</td>
                  <td class="adv_value">
                    <input id="lang_en" type="radio" name="aq_lang" value="english" class="radio" />
                    <label for="lang_en">English</label>
                    <input id="lang_fr" type="radio" name="aq_lang" value="french" class="radio" />
                    <label for="lang_fr">French</label>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label">Semester:</td>
                  <td class="adv_value">
                    <input id="sem_fall" type="radio" name="aq_sem" value="fall" class="radio" />
                    <label for="sem_fall">Fall</label>
                    <input id="sem_spring" type="radio" name="aq_sem" value="spring" class="radio" />
                    <label for="sem_spring">Spring</label>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label"><label for="credits">Credits:</label></td>
                  <td class="adv_value">
                    {{ multichoice("credits", "aq_cred", static["credits"]) }}
                  </td>
                </tr>
              </table>
            </td>
            <td style="width: 50%; padding: 0px;">
              <table style="border-collapse: collapse; table-layout: fixed;">
                <tr>
                  {{ advfield("Instructor", "instructor", "aq_in") }}
                </tr>
                <tr>
                  <td class="adv_label"><label for="section">Section:</label>
                  <td class="adv_value">
                    <select id="section" name="aq_sec">
                      <option value=""></option>
                      {% for school in static["sections"] %}
                        <optgroup label="{% if school[0] %}{{ school[0] }} - {% endif %}{{ school[1] }}">
                        {% for section in school[2] %}
                          <option value="{{ section[0]|lower }}">{{ section[1] }}</option>
                        {% endfor %}
                        </optgroup>
                      {% endfor %}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td class="adv_label"><label for="exam">Exam:</label>
                  <td class="adv_value">
                    {{ multichoice("exam", "aq_exam", static["exam"]) }}
                  </td>
                </tr>
                <tr>
                  <td class="adv_label"><label for="coefficient">Coefficient:</label></td>
                  <td class="adv_value">
                    {{ multichoice("coefficient", "aq_coeff", static["coeff"]) }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <div style="margin-top:10px;">
          <div style="padding: 3px;">
            Scheduled hours:
          </div>
        </div>
        <table id="sched-hours" style="border-spacing: 10px; table-layout: fixed;">
          <tr>
            <td style="width: 33%; padding: 0px;">
              <div class="field">
                <label for="lecture">Lecture:</label>
                <span class="input">{{ multichoice("lecture", "aq_hours_l", static["lecture"]) }}</span>
              </div>
            </td>
            <td style="width: 33%; padding: 0px;">
              <div class="field">
                <label for="recitation">Recitation:</label>
                <span class="input">{{ multichoice("recitation", "aq_hours_r", static["recitation"]) }}</span>
              </div>
            </td>
            <td style="width: 33%; padding: 0px;">
              <div class="field">
                <label for="project">Project:</label>
                <span class="input">{{ multichoice("project", "aq_hours_p", static["project"]) }}</span>
              </div>
            </td> 
          </tr>
        </table>
      </div>
      <div style="text-align: center; margin-top: 10px;">
        <input id="search" type="submit" value="Search" />
      </div>
      <div id="advanced-search">
        <a href="#" id="advanced-search-btn">
          Advanced search
        </a>
      </div>
    </form>
    </div>
    <div id="feedback-box">
      <a href="https://docs.google.com/spreadsheet/viewform?formkey=dDJ1UVpEM1VFRkszclBrdTRjc3JfYkE6MQ#gid=0" target="_blank">Got feedback?</a>
    </div>
    {% if not query %}
    <div id="samples-box">
      Examples of stuff you can find (click on the links to see how):
      <div style="padding-left: 5px;">
        <a href='/catalog?q=plan:"SHS-BA3"+literature+OR+design'>SHS courses on literature or design, taught in the 3rd bachelor semester</a></br>
        <a href='/catalog?q=credits:2+"organic+materials"'>2-credit courses on organic materials</a><br/>
        <a href="/catalog?q=semester:fall+java">Java-related courses taught in the Fall</a><br/>
        <a href='/catalog?q=section:"MIN_IN_SEC" -cryptography'>Courses in the computer security minor that do not teach cryptography</a>
      </div>
    </div>
    {% endif %}
    <div style="clear: both;"></div>
  </div>
  </div>
  
  
  {% if courses %}
  <script type="text/javascript">
  	$(document).ready(function() {
  		$('#results').dataTable( {
  			"bFilter": false,
  			"bPaginate": false,
  			"sDom": 'rt<"bottom"p>',
  			"fnInfoCallback": function(oSettings, iStart, iEnd, iMax, iTotal, sPre) {
  				return 'Showing results <span class="hdrno">' + iStart +
  					'</span>-<span class="hdrno">' + iEnd + "</span> out of " +
  					'<span class="hdrno">' + iTotal + '</span>';
  			}
  		});
  	})
  </script>

  <div class="table_header">
    {% if original_query %}
    <div class="suggestion_box">
      Showing results for <span class="suggestion"><a href="/catalog?q={{ suggested_query }}">{{ suggested_query }}</a></span>.
      Search for <span class="suggestion"><a href="/catalog?q={{ original_query }}&exact=1">{{ original_query }}</a></span>  instead.
    </div>
    {% elif suggested_query %}
    <div class="suggestion_box">
      Did you mean <span class="suggestion"><a href="/catalog?q={{ suggested_query }}">{{ suggested_query }}</a></span>?
    </div>
    {% endif %}
    <div class="info_box">
      Showing results  
        <span style="font-weight: bold;">
          {{ pagination.offset + 1 }}-{{ pagination.offset + courses|length }}</span>
      out of
        <span style="font-weight: bold;">{{ pagination.total_found }}</span>:
    </div>
  </div>
  <table class="catalog" id="results">
    <thead>
      <tr class="header">
        <th class="td_index">Rank</th>
        <th class="td_title">Title</th>
        <th class="td_credits">Credits</th>
        <th class="td_instr">Instructor(s)</th>
        <th class="td_section">Section(s)</th>
      </tr>
    </thead>
    <tbody>
      {%- for course in courses %}
      <tr>
        <td class="td_index">{{ offset + loop.index }}</td>
        <td class="td_title">
          <a href="{{ url_for('course', course_key=course.key().name()) }}">{{ course.title }}</a>
        </td>
        <td class="td_credits">{{ course.credit_count|default("N/A", True) }}</td>
        <td class="td_instr">
        {% if not course.instructors %}
          N/A
        {% elif course.instructors == ["multi"] %}
          <span style="font-style: italic;">Various instructors</span>
        {% else %}
          {{ course.instructors|join(", ") }}
        {% endif %}
        </td>
        <td class="td_section">
        {% for section in course.sections %}
          <span title="{{ section.display_name() }}">{{ section.display_name(short=True) }}</span>{{ ", " if not loop.last }}
        {% endfor %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {% if pagination.pages|length > 1 %}
  <div id="page_nav">
  {% if not pagination.prev_offset is none %}
    {{ jumpoffset(pagination.prev_offset, "Previous") }}
  {% else %}
    <span style="font-weight: bold;">Previous</span>
  {% endif %}
  {% for crt_page, crt_offset in pagination.pages %}
    {% if crt_page == page %}
      <span style="font-weight: bold;">{{ crt_page + 1}}</span> 
    {% else %}
      {{ jumpoffset(crt_offset, crt_page + 1) }}
    {% endif %}
  {% endfor %}
  {% if not pagination.next_offset is none %}
    {{ jumpoffset(pagination.next_offset, "Next") }}
  {% else %}
    <span style="font-weight: bold;">Next</span>
  {% endif %}
  </div>
  {% endif %}
  {% elif query %}
  <div class="table_header">
  No search results.
  </div>
  {% endif %}
  {% if debug_mode %}
  <div id="debug_box" style="color: #999; border: 1px solid #999; padding: 3px; margin-top: 5px;">
    <span style="font-weight: bold;">Debug Information:</span> <br/>
    # of courses: {{ courses|length if courses else 0 }} <br/>
    Query: {{ query }} <br/>
    Original query: {{ original_query }} <br/>
    Suggested query: {{ suggested_query }} <br/>
    Search provider: {{ debug["provider"] }} <br/>
    {% if debug["url"] %}
    Underlying search URL: <a href="{{ debug['url'] }}">{{ debug["url"] }}</a><br/>
    {% if debug["results"] %}
    Search results: <br/>
    {% for result in debug["results"] %}
    <a href="/c/{{ result }}">{{ result }}</a> <br/>
    {% endfor %}
    {% endif %}
    {% endif %}
  </div>
  {% endif %}
{% endblock content %}
 