{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/course.css"/>
  <!--
  <PageMap>
    <DataObject type="course">
      {%- macro attribute(name, value) %}
      {%- if not value is none -%}
      <Attribute name="{{name}}">{{ value }}</Attribute>
      {%- endif -%}
      {% endmacro -%}
      {{ attribute("title", course.title) }}
      {{ attribute("language", course.language_) }}
      {{ attribute("instructor", course.instructors|join(", ")) }}
      {{ attribute("section", course.sections|join(", ")) }}
      {{ attribute("plan", course.study_plans|join(", ")) }}
      {{ attribute("credits", course.credit_count) }}
      {{ attribute("coefficient", course.coefficient) }}
      {{ attribute("semester", course.semester) }}
      {{ attribute("exam", course.exam_form) }}
      {{ attribute("lecthours", course.lecture_time) }}
      {{ attribute("recithours", course.recitation_time) }}
      {{ attribute("projhours", course.project_time) }}
      {{ attribute("practhours", course.practical_time) }}
    </DataObject>
  </PageMap>
  -->
{% endblock head %}

{% macro searchable(content, query_field, query_value=None) -%}
  <a href='/catalog?q={{query_field}}:"{% if query_value %}{{query_value}}{% else %}{{content}}{% endif %}"'>{{ content }}</a>
{%- endmacro %}

{% block content %}
<div class="course-border">
  <h1>{{ course.title }}</h1>
  <div id="aux_info" style="float:right;">
    <table>
      <tr>
        <td class="label">Sections:</td>
        <td class="value">
        {% for section, _ in course.sections_ %}
          {{ searchable(section, "section") }}{{ "," if not loop.last }}
        {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="label">
        {% if course.coefficient and not course.credit_count %}
          Coefficient:
        {% else %}
          ECTS credits:
        {% endif %}
        </td>
        <td class="value">
          {% if course.coefficient and not course.credit_count %}
            {{ searchable(course.coefficient, "coefficient") }}
          {% elif course.credit_count %}
            {{ searchable(course.credit_count, "credits") }}
          {% else %}
            N/A
          {% endif %}
          {% if course.show_trio_ -%}
          (<span title="Lecture hours">{{ searchable(course.lecture_time, "lecthours") }}</span>-<span title="Recitation hours">{{ searchable(course.recitation_time, "recithours") }}</span>-<span title="Project/practice hours">
          {%- if course.practical_time and not course.project_time -%}
            {{ searchable(course.practical_time, "practhours") }}
          {%- else -%}
            {{ searchable(course.project_time, "projhours") }}
          {%- endif -%}</span>)
          {%- endif %}
        </td>
      </tr>
      <tr>
        <td class="label">Schedule:</td>
        {% macro planning(name, hours, weeks) -%}
          {%- if hours -%}
            {%- if weeks -%}
              {{name}} {{hours}}h/week x {{weeks}} weeks<br/>
            {%- else -%}
              {{hours}}h/term {{name}}<br/>
            {%- endif -%}
          {%- endif -%} 
        {%- endmacro %}
        <td class="value">
          {{ planning("lecture", course.lecture_time, course.lecture_weeks) }}
          {{ planning("recitation", course.recitation_time, course.recitation_weeks) }}
          {{ planning("project", course.project_time, course.project_weeks) }}
          {{ planning("practical work", course.practical_time, course.practical_weeks) }}
        </td>
      </tr>
    </table>
  </div>
  <div id="main_info">
    <table>
      <tr>
        <td class="label">Instructor{{ 's' if course.instructors|length > 1 }}:</td>
        <td class="value">
        {% if course.instructors and course.instructors[0] == "multi" %}
          <span style="font-style: italic;">Various instructors</span>
        {% else %}
          {% for instructor in course.instructors %}
            {{ searchable(instructor, "instructor") }}{{ "," if not loop.last }}
          {% endfor %}
        {% endif %}
        </td>
      </tr>
      <tr>
        <td class="label">Language:</td>
        <td class="value">{{ searchable(course.language_, "language") }}</td>
      </tr>
      <tr>
        <td class="label">Semester:</td>
        <td class="value">{{ searchable(course.semester, "semester") }}</td>
      </tr>
      <tr>
        <td class="label">Exam:</td>
        <td class="value">{{ searchable(course.exam_form, "exam") }}</td>
      </tr>
    </table>
  </div>
  {% for title, content in [("Learning Outcomes", course.learning_outcomes),
                            ("Content", course.content),
                            ("Prior Knowledge", course.prior_knowledge),
                            ("Type of Teaching", course.type_of_teaching),
                            ("Bibliography", course.bibliography),
                            ("Keywords", course.keywords),
                            ("Form of Examination", course.exam_form_detail)] %}
  {% if content %}
  <div>
    <div class="sec_title">{{ title }}</div>
    <div class="sec_content">{{ content|safe }}</div>
  </div>
  {% endif %}
  {% endfor %}
  <div id="footer_info">
    <table>
      <tr>
        <td class="label">Study plans:</td>
        <td class="value">
          {% for plan in course.study_plans %}
            {{ searchable(plan, "plan") }}{{ "," if not loop.last }}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td class="label">IS-Academia homepage(s):</td>
        <td class="value">
          {% for section, url in course.sections_ %}
            <a href="{{ url }}">{{ section }}</a>{{ "," if not loop.last }}
          {% endfor %}
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
