{#
  Course page rendering.
  Author: Stefan Bucur (stefan.bucur@epfl.ch)
  Copyright 2012 EPFL. All rights reserved.
#}

{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/course.css"/>
  <!--
  <PageMap>
    <DataObject type="course">
      {%- macro attribute(name, value) %}
      {%- if not value is none -%}
      <Attribute name="{{name}}">{{ value }}</Attribute>
      {%- endif -%}
      {% endmacro -%}
      {{ attribute("title", course.title) }}
      {{ attribute("language", course.language) }}
      {{ attribute("instructor", course.instructors|join(", ")) }}
      {% for section in course.sections -%}
      {{ attribute("section", section.display_name()) }}
      {%- endfor %}
      {% for study_plan in course.study_plans -%}
      {{ attribute("study_plan", study_plan) }}
      {%- endfor %}
      {{ attribute("credits", course.credit_count) }}
      {{ attribute("coefficient", course.coefficient) }}
      {{ attribute("semester", course.semester) }}
      {{ attribute("exam", course.exam_form) }}
      {{ attribute("lecthours", course.lecture_time) }}
      {{ attribute("recithours", course.recitation_time) }}
      {{ attribute("projhours", course.project_time) }}
    </DataObject>
  </PageMap>
  -->
{% endblock head %}

{% block content %}

{% macro searchable(content, query_field, query_value=None, tooltip=None) -%}
{% set url = url_for("catalog", q='%s: "%s"' % (query_field,
                                                query_value if query_value else content)) %}
                                               
<a rel="nofollow" {% if tooltip %}title="{{ tooltip }}"{% endif %}
   href='{{ url }}'>{{ content }}</a>
{%- endmacro %}

{% macro infoitem(label, min_width=100, align_left=False) %}
<tr>
  <td style="text-align: right; padding-right: 20px; padding-top: 3px; padding-bottom: 3px; font-weight: bold; min-width: {{ min_width }}px; {{ 'text-align: left;' if align_left }}">
    {{ label }}
  </td>
  <td style="padding-top: 3px; padding-bottom: 3px; width: 100%;">
    {{ caller() }}
  </td>
</tr>
{% endmacro %}

<div style="padding: 10px;">
  {% if not no_title %}
  <h1>{{ course.title }}</h1>
  {% endif %}
  <div id="aux_info" style="float:right;">
    <table style="width: 300px;">
      {% call infoitem("Sections:") %}
        {% for section in course.sections %}
          {{ searchable(section.display_name(short=True), "section", section.code, tooltip=section.display_name()) }}{% if not loop.last %},{% endif %}
        {% endfor %}
      {% endcall %}
      
      {% call infoitem("Coefficient:" if course.coefficient and not course.credit_count else "ECTS credits:") %}
        {% if course.coefficient and not course.credit_count %}
          {{ searchable(course.coefficient, "coefficient") }}
        {% elif course.credit_count %}
          {{ searchable(course.credit_count, "credits") }}
        {% else %}
          N/A
        {% endif %}
        {% if course.show_trio_ -%}
        (<span title="Lecture hours">{{ searchable(course.lecture_time, "lecthours") }}</span>-<span title="Recitation hours">{{ searchable(course.recitation_time, "recithours") }}</span>-<span title="Project/practice hours">
        {%- if course.practical_time and not course.project_time -%}
          {{ searchable(course.practical_time, "practhours") }}
        {%- else -%}
          {{ searchable(course.project_time, "projhours") }}
        {%- endif -%}</span>)
        {%- endif %}
      {% endcall %}
      
      {% macro planning(name, hours, weeks) -%}
        {%- if hours -%}
          {%- if weeks -%}
            {{name}} {{hours}}h/week x {{weeks}} weeks<br/>
          {%- else -%}
            {{hours}}h/term {{name}}<br/>
          {%- endif -%}
        {%- endif -%} 
      {%- endmacro %}
      
      {% call infoitem("Schedule:") %}
        {{ planning("lecture", course.lecture_time, course.lecture_weeks) }}
        {{ planning("recitation", course.recitation_time, course.recitation_weeks) }}
        {{ planning("project", course.project_time, course.project_weeks) }}
        {{ planning("practical work", course.practical_time, course.practical_weeks) }}
      {% endcall %}
    </table>
  </div>
  <div id="main_info">
    <table style="width: 400px;">
      {% call infoitem("Instructors:" if course.instructors|length > 1 else "Instructor:") %}
        {% if course.instructors and course.instructors[0] == "multi" %}
          <span style="font-style: italic;">Various instructors</span>
        {% else %}
          {% for instructor in course.instructors %}
            {{ searchable(instructor, "instructor") }}{{ "," if not loop.last }}
          {% endfor %}
        {% endif %}
      {% endcall %}
      
      {% call infoitem("Language:") %}
        {{ searchable(course.language, "language") }}
      {% endcall %}
      
      {% call infoitem("Semester:") %}
        {{ searchable(course.semester, "semester") }}
      {% endcall %}
      
      {% call infoitem("Exam:") %}
        {{ searchable(course.exam_form, "exam") }}
      {% endcall %}
    </table>
  </div>
  <div style="clear: both;"></div>
  {% for title, content in [("Learning Outcomes", course.learning_outcomes),
                            ("Content", course.content),
                            ("Prior Knowledge", course.prior_knowledge),
                            ("Type of Teaching", course.type_of_teaching),
                            ("Bibliography", course.bibliography),
                            ("Keywords", course.keywords),
                            ("Form of Examination", course.exam_form_detail),
                            ("Note", course.note),
                            ("Prerequisite For", course.prerequisite_for)] %}
  {% if content %}
  <div>
    <div style="font-size: 1em; font-weight: bold;">
      {{ title }}
    </div>
    <div style="background-color: #fafafa; border: solid #eee 1px; border-radius: 5px; padding: 5px; margin-bottom: 10px;">
      {{ content|isamarkup|safe }}
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% if course.library_recomm %}
  <div>
    <div style="font-size: 1em; font-weight: bold;">
      Library Recommends
    </div>
    <div style="background-color: #fafafa; border: solid #eee 1px; border-radius: 5px; padding: 5px; margin-bottom: 10px;">
      {{ course.library_recomm|safe }}
    </div>
  </div>
  {% endif %}
  {% if course.links %}
  <div>
    <div style="font-size: 1em; font-weight: bold;">
      Links
    </div>
    <div style="background-color: #fafafa; border: solid #eee 1px; border-radius: 5px; padding: 5px; margin-bottom: 10px;">
      <ul>
        {% for link in course.links %}
        <li><a href="{{ link }}">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <div id="footer_info" style="margin-top: 20px;">
    <table style="width: 100%;">
      {% call infoitem("Study plans:", min_width=200, align_left=True) %}
        {% for plan in course.study_plans %}
          {{ plan }}
          {% if not loop.last %}
          <br/>
          {% endif %}
        {% endfor %}
      {% endcall %}
      
      {% call infoitem("IS-Academia homepage(s):", min_width=200, align_left=True) %}
        {% for section, study_plan, url in course.sections_ %}
          <a href="{{ url }}" title="{{ section.display_name() }}">{{ section.display_name(short=True) }}</a>{{ "," if not loop.last }}
        {% endfor %}
      {% endcall %}
    </table>
  </div>
</div>
{% endblock content %}
