{#
  Course page rendering.
  Author: Stefan Bucur (stefan.bucur@epfl.ch)
  Copyright 2012 EPFL. All rights reserved.
#}

{% set dont_center = False %}

{% extends "base.html" %}
{% block title %}{{ course.title }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/course.css"/>
  <!--
  <PageMap>
    <DataObject type="course">
      {%- macro attribute(name, value) %}
      {%- if not value is none -%}
      <Attribute name="{{name}}">{{ value }}</Attribute>
      {%- endif -%}
      {% endmacro -%}
      {{ attribute("title", course.title) }}
      {{ attribute("language", course.language) }}
      {{ attribute("instructor", course.instructors|join(", ")) }}
      {% for section in course.sections -%}
      {{ attribute("section", section.display_name()) }}
      {%- endfor %}
      {% for study_plan in course.study_plans -%}
      {{ attribute("study_plan", study_plan) }}
      {%- endfor %}
      {{ attribute("credits", course.credit_count) }}
      {{ attribute("coefficient", course.coefficient) }}
      {{ attribute("semester", course.semester) }}
      {{ attribute("exam", course.exam_form) }}
      {{ attribute("lecthours", course.lecture_time) }}
      {{ attribute("recithours", course.recitation_time) }}
      {{ attribute("projhours", course.project_time) }}
    </DataObject>
  </PageMap>
  -->
{% endblock head %}

{% block content %}

{% macro searchable(content, query_field, query_value=None, tooltip=None,
                    quoted=True) -%}
{%- set formatter = '%s: "%s"' if quoted else "%s: %s" -%}
{%- set query = formatter % (query_field, query_value if query_value else content) -%}
{%- set url = url_for("catalog", lang=language, q=query.encode("utf-8")) -%}                                  
<a rel="nofollow" {% if tooltip %}title="{{ tooltip }}"{% endif %}
   href='{{ url }}'>{{ content }}</a>
{%- endmacro %}

{% macro infoitem(label, min_width=100, align_left=False) %}
<tr>
  <td class="label">{{ label }}</td>
  <td class="value">{{ caller() }}</td>
</tr>
{% endmacro %}

{% macro section_info_nav() %}
<div id="section-info-nav">
  <ul class="hierarchy">
    {% for school, sections in course.hierarchy_|dictsort %}
    <li> <span class="school">{{ school }}</span>
      <ul class="hierarchy">
        {% for section, (code, study_plans) in sections|dictsort %}
          <li> <span>{{ searchable(section, "section", code) }}</span>
            <ul class="hierarchy">
              {% for study_plan, study_code in study_plans %}
                <li>
                  <span class="prop">
                  {% set query = 'section: "%s" plan: "%s"' % (code, study_code) %}
                  <a href="{{ url_for('catalog', lang=language, q=query.encode('utf-8')) }}">
                    {{ study_plan }}
                  </a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

{% macro section_info_bread() %}
<div id="section-info-bread">
  <ul class="school-list">
    {% for school, sections in course.hierarchy_|dictsort %}
    <li><ul class="sec-list">
      {% for section, (code, study_plans) in sections|dictsort %}
      <li>
        <span class="school">{{ school }}</span> /
        <span>{{ searchable(section, "section", code) }}</span> (
        {%- for study_plan, study_code in study_plans -%}
        <span class="prop">
        {%- set query = 'section: "%s" plan: "%s"' % (code, study_code) -%}
        <a href="{{ url_for('catalog', lang=language, q=query.encode('utf-8')) }}">
          {{- study_plan -}}
        </a></span>
        {{- ", " if not loop.last -}}
        {%- endfor -%}
        )
      </li>
      {% endfor %}
    </ul></li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}

<div id="course-content" {% if dont_center %} class="left" {% endif %}>
  <div id="title">
    <div id="go-back">
      <a href="{{ back_link }}">{{ localized("Back to Search", "Retour à la recherche") }}</a> |
      <a href="{{ switch_lang_link }}">{{ localized("Français", "English") }}</a>
    </div>
    <h1>
      {{ course.title }}
    </h1>
  </div>
  {% if dont_center %}
  {{ section_info_nav() }}
  {% endif %}
  <div id="head-info">
  <div id="side-info">
    <table>
      {% call infoitem(localized("Exam:", "Forme de l'examen:")) %}
        {{ searchable(course.exam_form, "exam") }}
      {% endcall %}
      
      {% call infoitem(localized("Coefficient:", "Coefficient:")
                       if course.coefficient and not course.credit_count
                       else localized("ECTS credits:", "Crédits:")) %}
        {% if course.coefficient and not course.credit_count %}
          {{ searchable(course.coefficient, "coefficient", quoted=False) }}
        {% elif course.credit_count %}
          {{ searchable(course.credit_count, "credits", quoted=False) }}
        {% else %}
          N/A
        {% endif %}
        {% if course.show_trio_ -%}
        (<span title="Lecture hours">{{ searchable(course.lecture_time, "lecthours", quoted=False) if course.lecture_time else "0" }}</span><!--
      -->-<span title="Recitation hours">{{ searchable(course.recitation_time, "recithours", quoted=False) if course.recitation_time else "0" }}</span><!--
      -->-<span title="Project/practice/lab hours">{{ searchable(course.project_time, "projhours", quoted=False) if course.project_time else "0" }}</span>)
        {%- endif %}
      {% endcall %}
      
      {% macro planning(name, hours, weeks) -%}
        {%- if hours -%}
          {%- if weeks -%}
            {{name}} {{hours}}h/week x {{weeks}} weeks<br/>
          {%- else -%}
            {{hours}}h/term {{name}}<br/>
          {%- endif -%}
        {%- endif -%} 
      {%- endmacro %}
      
      {% call infoitem("Schedule:") %}
        {{ planning("lecture", course.lecture_time, course.lecture_weeks) }}
        {{ planning("recitation", course.recitation_time, course.recitation_weeks) }}
        {{ planning("project", course.project_time, course.project_weeks) }}
        {{ planning("practical work", course.practical_time, course.practical_weeks) }}
      {% endcall %}
    </table>
  </div>
  <div id="main-info">
    <table>
      {% call infoitem(localized("Instructors:", "Enseignants:")
                       if course.instructors|length > 1
                       else localized("Instructor:", "Enseignant:")) %}
        {% if course.instructors and course.instructors[0] == "multi" %}
          <span style="font-style: italic;">Various instructors</span>
        {% else %}
          {% for instructor in course.instructors %}
            {{ searchable(instructor, "instructor") }}{{ "," if not loop.last }}
          {% endfor %}
        {% endif %}
      {% endcall %}
      
      {% call infoitem(localized("Language:", "Langue:")) %}
        {{ searchable(course.language, "language") }}
      {% endcall %}
      
      {% call infoitem(localized("Semester:", "Semestre:")) %}
        {{ searchable(course.semester, "semester") }}
      {% endcall %}
    </table>
  </div>
  </div>
  {% set free_text_sec = [
      (localized("Learning outcomes", "Objectifs d'apprentissage"),
       course.learning_outcomes),
      (localized("Content", "Contenu"),
       course.content),
      (localized("Required prior knowledge", "Prérequis"),
       course.prior_knowledge),
      (localized("Type of teaching", "Forme d'enseignement"),
       course.type_of_teaching),
      (localized("Bibliography", "Bibliographie et matériel"),
       course.bibliography),
      (localized("Keywords", "Mots clés"),
       course.keywords),
      (localized("Grading", "Forme du contrôle"),
       course.exam_form_detail),
      (localized("Note", "Remarque"),
       course.note),
      (localized("Prerequisite for", "Préparation pour"),
       course.prerequisite_for)
     ] %}
  {% for title, content in free_text_sec %}
  {% if content %}
  <div>
    <div class="sec-title isa-title">{{ title }}</div>
    <div class="sec-content isa-content">{{ content|isamarkup|safe }}</div>
  </div>
  {% endif %}
  {% endfor %}
  {% if course.library_recomm %}
  <div>
    <div class="sec-title isa-title">
      {{ localized("Textbooks", "La bibliothèque vous propose") }}
    </div>
    <div class="sec-content isa-content">
      {{ course.library_recomm|safe }}
    </div>
  </div>
  {% endif %}
  {% if course.links %}
  <div>
    <div class="sec-title isa-title">
      {{ localized("Links", "Liens") }}
    </div>
    <div class="sec-content isa-content">
      <ul>
        {% for link, decoded_link in course.links_ %}
        <li><a href="{{ link }}">{{ decoded_link }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  <div id="footer-info">
    {% if not dont_center %}
    <div class="sec-title footer-title">
      {{ localized("Sections", "Sections") }}
    </div>
    <div class="sec-content footer-content">
      {{ section_info_bread() }}
    </div>
    {% endif %}
    <div class="sec-title footer-title">
      {{ localized("IS-Academia homepage(s)", "IS-Academia homepage(s)") }}
    </div>
    <div class="sec-content footer-content">
      {% for section, study_plan, url in course.sections_ %}
        <a href="{{ url }}" title="{{ section.display_name() }}">{{ section.display_name(short=True) }}</a>{{ "," if not loop.last }}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
