{#
  The main page (/).
  Author: Stefan Bucur (stefan.bucur@epfl.ch)
  Copyright 2012 EPFL. All rights reserved.
#}

{% extends "base.html" %}
{% block title %}EPFL MyEdu{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    body {
      width: 800px;
      margin-left: auto;
      margin-right: auto;
      
      text-align: center;
      padding-top: 20px;
    }
    
    h1 {
      text-align: center;
    }
    
    #catalog, #cform {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* IE10+ */
        background: linear-gradient(top,  #ffffff 0%,#f4f4f4 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */      
    }
    
    #catalog, #cform {
      padding: 20px;
      border-radius: 10px;
      font-size: 1.5em;
      
      width: 350px;
      text-align: center;
      
      border: solid #e1e1e1 2px;
    }
    
    #catalog {
      float: left;
    }
    
    #cform {
      float: right;
    }
  </style>
{% endblock head %}

{% block content %}
<h1>EPFL MyEdu</h1>

<div id="catalog">
  Browse the <a href="/catalog">course catalog</a>
</div>

<div id="cform">
  Access the <a href="/update">course description form</a>
</div>
{% endblock content %}
