{% extends "base.html" %}
{% block title %}EPFL Course Catalog{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="/static/css/showcase.css"/>
  <style type="text/css">
    div#wrapper {
      width: 1024px;
    }
    
    div#galleria {
      height: 320px;
    }
  </style>
  <script src="/static/galleria/galleria-1.2.7.min.js"></script>
  
{% endblock head %}

{% block content %}
  <h1>EPFL Course Catalog</h1>
  
  <div id="galleria">
  {% for course in courses %}
  <a href="/static/img/course-large.jpg">
    <img data-title="{{ course.name }}"
         data-description="{{ course.teachers|join(', ') }}"
         src="/static/img/course-small.jpg" />
  </a>
  {% endfor %}
  </div>
  
  <script type="text/javascript">
  	Galleria.loadTheme('/static/galleria/themes/classic/galleria.classic.min.js');
  	Galleria.run("#galleria", {
  		carousel: true,
  		
  	});
  </script>
{% endblock content %}
